<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Margaret Hamilton</title>
    <link rel="stylesheet" href="/css/hamilton.css">
</head>
<body>
    <h1>Margaret Hamilton</h1>
    <h2>Matemática</h2>
    <img src="/images/hamilton.png" alt="">
    <h3>Margaret Hamilton (17 de agosto de 1936) es una científica computacional, matemática e ingeniera de Software</h3>
    <p>Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT, donde con su
        equipo desarrolló el software de navegación "on-board" para el Programa Espacial Apolo En 1986, se convirtió
        en la fundadora y CEO de Hamilton Technologies, Inc. en Cambridge, Massachusetts. La compañía se desarrolló
        alrededor del lenguaje universal de sistemas basada en su paradigma de "desarrollo antes del hecho" (DBTF, del
        inglés Development Before the Fact) para sistemas de diseño de software. Acuñó el término «ingeniería de software»
        para distinguir entre el trabajo de hardware y otras ingenierías. A pesar de que su idea no fue bien recibida al
        inicio, eventualmente el software generó el mismo respeto que otras disciplinas
    </p>
</body>
</html>