<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superheroes</title>
    <link rel="stylesheet" href="/css/style.css"
</head>
<body>
    <h1>Lista de Superheroes</h1>
    <!-- <img src="/images/fondo1.webp" alt=""> -->
    <nav>
        <ul>
            <li><a id="link"  href="/">Home</a></li>
            <li><a id="link"  href="/babbage">Babbage</a></li>
            <li><a id="link"  href="/berners-lee">Berners-Lee</a></li>
            <li><a id="link"  href="/clarke">Clarke</a></li>
            <li><a id="link"  href="/hamilton">Hamilton</a></li>
            <li><a id="link"  href="/hopper">Hopper</a></li>
            <li><a id="link"  href="/lovelace">Lovelace</a></li>
            <li><a id="link"  href="/turing">Turing</a></li>
        </ul>
    </nav>
</body>
</html>