<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alan Turing</title>
    <link rel="stylesheet" href="/css/turing.css">
</head>
<body>
    <h1>Alan Turing</h1>
    <h2>Matematico</h2>
    <img src="/images/alan.png" alt="">
    <p>Es considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna. Proporcionó
        una influyente formalización de los conceptos de algoritmo y computación: la máquina de Turing. Formuló su propia
        versión que hoy es ampliamente aceptada como la tesis de Church-Turing (1936).
    </p>
    <p>
        Durante la segunda guerra mundial, trabajó en descifrar los códigos nazis, particularmente los de la máquina Enigma,
        y durante un tiempo fue el director de la sección Naval Enigma de Bletchley Park. Se ha estimado que su trabajo
        acortó la duración de esa guerra entre dos y cuatro años.6​ Tras la guerra, diseñó uno de los primeros computadores
        electrónicos programables digitales en el Laboratorio Nacional de Física del Reino Unido y poco tiempo después
        construyó otra de las primeras máquinas en la Universidad de Mánchester.
    </p>
    <a href="/">Volver al inicio</a>

</body>
</html>